.cards {
  display: flex;
  flex-direction: column;
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 40px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    padding-bottom: 0px;
    gap: 20px;
  }
}
