.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin: 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  flex-shrink: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
