.footer {
  padding: 60px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
}
