.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 10px;
  border-radius: 8px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__avatar-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile__name {
  color: #212121;
  margin: 0 0 12px;
  max-width: 420px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
}

.profile__edit-button {
  margin: 0;
  display: flex;
  gap: 8px;
  color: #212121;
  margin-top: auto;
  opacity: 0.7;
  width: 107.34px;
  border-style: none;
  background: transparent;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  align-items: center;
  justify-content: center;
  display: flex;
  background: #212121;
  color: #fcf5e5;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__avatar-column {
    flex-direction: column;
    align-items: center;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: auto;
    margin-bottom: 20px;
  }

  .profile__add-button {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    max-width: 288px;
  }
}
